<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<% include headers/head %>
</head>
<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">

				<h1><span class="fa fa-block"></span>Inicio</h1>
				<% if (this.user) { %>
				    <p>Bienvenido</p>
				    <a href="/map" class="btn btn-light">
					<span class="fa fa-user"></span> Mapa
				    </a>
                                <% } else {%>
				
				    <a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Inicio de Sesion
				    </a>
				<% } %>
			</div>
		</div>
	</div>

</body>
</html>
