<h1>Inicio de Sesion</h1>

<form method="POST" action="/login">
    <input type="text" name="Usuario" placeholder="Usuario">
    <input type="password" name="password" placeholder="password">
    <button> Login </button>
</form>

<li><a href="/register">Registrarse</a></li>
<li><a href="/logout">Salir</a></li>
<li><a href="/login">Iniciar sesion</a></li>