<h1> Registro de Usuario </h1>

<form method="POST" action="/register">
    <input type="text" name="usuario" placeholder="usuario">
    <input type="password" name="password" placeholder="password">
    <button> enviar </button>
</form>

<li><a href="/register">Registrarse!</a></li>
<li><a href="/logout">Salir</a></li>
<li><a href="/login">Iniciar sesion</a></li>